<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Transfom3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>216E8D601C9AB0800006399D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>216E8D741C9AB0810006399D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>216E8D7F1C9AB0810006399D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
